<mat-form-field appearance="outline" [subscriptSizing]="subscriptSizing()">
  <mat-label>{{ label() }}</mat-label>
  <mat-select [value]="value()" (selectionChange)="onChange($event.value)">
    <mat-option [value]="null">{{ allOptionLabel() }}</mat-option>
    @if (noGroupLabel()) {
      <mat-option value="__NO_GROUP__">{{ noGroupLabel() }}</mat-option>
    }
    @for (g of groups(); track g.id) {
      <mat-option [value]="g.id">{{ g.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>
