<mat-form-field appearance="outline" [subscriptSizing]="subscriptSizing()">
  <mat-label>{{ label() }}</mat-label>
  <mat-select [formControlName]="controlName()"
              [multiple]="multiple()"
              [attr.aria-required]="ariaRequired() ? true : null">
    @if (nullOptionLabel() !== null) {
      <mat-option [value]="null">{{ nullOptionLabel() }}</mat-option>
    }
    @for (entry of entries(); track entry.id) {
      <mat-option [value]="entry.id">{{ entry.name }}</mat-option>
    }
  </mat-select>
  @for (msg of errorsToShow(); track msg) {
    <mat-error>{{ msg }}</mat-error>
  }
  <ng-content />
</mat-form-field>
