<ng-container *transloco="let t; scope: 'itsystem'; lang: lang()">
  <div class="page-container">
    <div class="page-header">
      <h1 class="page-title">{{ t('itsystem.title') }}</h1>
    </div>

    <mat-expansion-panel class="search-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>search</mat-icon>
          {{ t('itsystem.search.title') }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSearch()">
        <div class="search-row">
          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.search.query') }}</mat-label>
            <input matInput formControlName="query" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.search.ownerQuery') }}</mat-label>
            <input matInput formControlName="ownerQuery" />
            <mat-icon matSuffix>person_search</mat-icon>
          </mat-form-field>
        </div>

        <div class="search-row">
          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.field.status') }}</mat-label>
            <mat-select formControlName="statusId">
              <mat-option [value]="null">{{ t('itsystem.search.all') }}</mat-option>
              @for (item of statuses(); track item.id) {
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.field.lifecycleStage') }}</mat-label>
            <mat-select formControlName="lifecycleStageId">
              <mat-option [value]="null">{{ t('itsystem.search.all') }}</mat-option>
              @for (item of lifecycleStages(); track item.id) {
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.field.businessCriticality') }}</mat-label>
            <mat-select formControlName="businessCriticalityId">
              <mat-option [value]="null">{{ t('itsystem.search.all') }}</mat-option>
              @for (item of businessCriticalities(); track item.id) {
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="search-field">
            <mat-label>{{ t('itsystem.field.systemType') }}</mat-label>
            <mat-select formControlName="systemTypeId">
              <mat-option [value]="null">{{ t('itsystem.search.all') }}</mat-option>
              @for (item of systemTypes(); track item.id) {
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="search-field search-field--narrow">
            <mat-label>{{ t('itsystem.search.activeLabel') }}</mat-label>
            <mat-select formControlName="active">
              <mat-option [value]="null">{{ t('itsystem.search.all') }}</mat-option>
              <mat-option [value]="true">{{ t('itsystem.search.activeOnly') }}</mat-option>
              <mat-option [value]="false">{{ t('itsystem.search.inactiveOnly') }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="search-actions">
          <button mat-stroked-button type="button" (click)="onReset()">
            <mat-icon>clear</mat-icon>
            {{ t('itsystem.search.reset') }}
          </button>
          <button mat-flat-button type="submit">
            <mat-icon>search</mat-icon>
            {{ t('itsystem.search.search') }}
          </button>
        </div>
      </form>
    </mat-expansion-panel>

    <app-data-table
      [config]="tableConfig()"
      [data]="data()"
      [loading]="loading()"
      (pageChange)="onPageChange($event)"
      (rowSelect)="selectedRow.set($event)"
    />
  </div>
</ng-container>
